*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    width: 100%;
    height: 115vh;
    background: #092396;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fields{
    width: 40em;
    height: 110vh;
    margin-top: 20px;
    border: 2px solid rgb(19, 153, 84);
    border-radius: 10px;
    background-color: rgb(92, 77, 187);

}
.blog{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    font-weight: 700;
}
.sec-fields{
    width: 40em;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    height: 59vh;
    border: 2px solid rgb(15, 166, 221);
    
}
label{
    font-weight: 700;
    font-size: 25px;
    color: black;
}
.sec-blog{
    font-size: 25px;
    font-weight: 700;
    color: black;
}
.input-group{
    font-weight: 500;
    font-size: 25px;
    padding: 10px 0;
}
#contact-name{
    border-radius: 5px;
    padding: 7px;
    width: 50%;
}
.field-rd{
    width: 40em;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    height: 30vh;
    border: 2px solid rgb(15, 166, 221);
}